<p>DEBUG: This is the post.handlebars template</p>
<h1>{{post.title}}</h1>
<p>By: {{post.user.username}} on {{format_date post.date_created}}</p>
<p>{{post.content}}</p>

<h2>Comments</h2>
<ul>
    {{#each post.comments as |comment|}}
    <li>
        <strong>{{comment.user.username}}:</strong> {{comment.content}} ({{format_date comment.date_created}})
    </li>
    {{/each}}
</ul>

{{#if logged_in}}
<form action="/api/comments" id="comment-form" method="POST">
    <input type="hidden" name="postId" value="{{post.id}}">
    <textarea name="text" id="new-comment" placeholder="Leave a comment"></textarea>
    <button type="submit">Submit Comment</button>
</form>
{{else}}
<p>You need to be logged in to leave a comment.</p>
{{/if}}
