<h1>{{post.title}}</h1>
<p>By: {{post.user.username}} on {{format_date post.date_created}}</p>
<p>{{post.content}}</p>

<h2>Comments</h2>
<ul>
    {{#each post.comments as |comment|}}
    <li>
        <strong>{{comment.user.username}}:</strong> {{comment.content}} ({{format_date comment.date_created}})
    </li>
    {{/each}}
</ul>

{{#if loggedIn}}
<form action="/api/comments" method="POST">
    <input type="hidden" name="postId" value="{{post.id}}">
    <textarea name="text" placeholder="Leave a comment"></textarea>
    <button type="submit">Submit Comment</button>
</form>
{{/if}}


{{#if loggedIn}}
<form action="/api/comments" method="POST">
    <input type="hidden" name="postId" value="{{post.id}}">
    <textarea name="text" placeholder="Leave a comment"></textarea>
    <button type="submit">Submit Comment</button>
</form>
{{/if}}
